In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
import pickle
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
dataset=pd.read_csv("CKD.csv")
datas=pd.get_dummies(dataset,drop_first=True)
independent=datas.drop('classification_yes',1)
dependent=datas['classification_yes']

In [3]:
def selectkbest(independent,dependent,n):
    test=SelectKBest(score_func=chi2,k=n)
    fit1=test.fit(independent,dependent)
    select_feature=fit1.transform(independent)
    return select_feature

In [4]:
def split_scaler(independent,dependent):
    X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
    sc=StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test=sc.transform(X_test)
    return X_train,X_test,y_train,y_test

In [24]:
def cm_pred(classifier,X_test):
    y_pred=classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm=confusion_matrix(y_test,y_pred)
    from sklearn.metrics import accuracy_score
    accurancy=accuracy_score(y_test,y_pred)
    from sklearn.metrics import classification_report
    report=classification_report(y_test,y_pred)
    print(accurancy)
    return classifier,cm,accurancy,report,X_test,y_test

In [25]:
def logistic(X_train,y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier=LogisticRegression(random_state = 0)  
    classifier.fit(X_train,y_train)
    #classifier,accurancy,report,X_test,y_test,cm=cm_pred(classifier,X_test)
    classifier,accuracy,report,X_test,y_test,cm=cm_pred(classifier,X_test)
    return classifier,accuracy,report,X_test,y_test,cm

In [35]:
def navi(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.naive_bayes import GaussianNB
        classifier = GaussianNB()
        classifier.fit(X_train, y_train)
        classifier,accuracy,report,X_test,y_test,cm=cm_pred(classifier,X_test)
        return classifier,accuracy,report,X_test,y_test,cm

In [36]:
def knn(X_train,y_train,X_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier=KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)  
    classifier.fit(X_train,y_train)
    classifier,accuracy,report,X_test,y_test,cm=cm_pred(classifier,X_test)
    return classifier,accuracy,report,X_test,y_test,cm

In [37]:
def decision(X_train,y_train,X_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier=DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train,y_train)
    classifier,accuracy,report,X_test,y_test,cm=cm_pred(classifier,X_test)
    return classifier,accuracy,report,X_test,y_test,cm

In [38]:
def random(X_train,y_train,X_test):
    from sklearn.ensemble import RandomForestClassifier
    classifier=RandomForestClassifier(n_estimators = 10,criterion = 'entropy', random_state = 0)
    classifier.fit(X_train,y_train)
    classifier,accuracy,report,X_test,y_test,cm=cm_pred(classifier,X_test)
    return classifier,accuracy,report,X_test,y_test,cm

In [39]:
def selectk_classi(acclog,accnavi,accknn,accdeci,accrf):
    dataframe=pd.DataFrame(index=['chi2'],columns=['logistic','navi','knn','decision','random'])
    for number,idex in enumerate(dataframe.index):
        dataframe['logistic'][idex]=acclog[number]
        dataframe['navi'][idex]=accnavi[number]
        dataframe['knn'][idex]=accknn[number]
        dataframe['decision'][idex]=accdeci[number]
        dataframe['random'][idex]=accrf[number]
    return dataframe

In [73]:
kbest=selectkbest(independent,dependent,9) 
acclog=[]
accnavi=[]
accknn=[]
accdeci=[]
accrf=[]

In [74]:
kbest

array([[2.00000000e+00, 3.00000000e+00, 0.00000000e+00, ...,
        1.25181556e+01, 3.88689024e+01, 8.40819113e+03],
       [3.00000000e+00, 2.00000000e+00, 0.00000000e+00, ...,
        1.07000000e+01, 3.40000000e+01, 1.23000000e+04],
       [4.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        1.20000000e+01, 3.40000000e+01, 8.40819113e+03],
       ...,
       [5.14923077e+01, 3.00000000e+00, 0.00000000e+00, ...,
        9.10000000e+00, 2.60000000e+01, 9.20000000e+03],
       [5.14923077e+01, 0.00000000e+00, 0.00000000e+00, ...,
        8.50000000e+00, 3.88689024e+01, 8.40819113e+03],
       [5.14923077e+01, 0.00000000e+00, 0.00000000e+00, ...,
        1.63000000e+01, 5.30000000e+01, 8.50000000e+03]])

In [75]:
X_train, X_test, y_train, y_test=split_scaler(kbest,dependent)
classifier,report,accurancy,cm,X_test,y_test=logistic(X_train,y_train,X_test)
acclog.append(accurancy)
classifier,report,accurancy,cm,X_test,y_test=navi(X_train,y_train,X_test)
accnavi.append(accurancy)
classifier,report,accurancy,cm,X_test,y_test=knn(X_train,y_train,X_test)
accknn.append(accurancy)
classifier,report,accurancy,cm,X_test,y_test=decision(X_train,y_train,X_test)
accdeci.append(accurancy)
classifier,report,accurancy,cm,X_test,y_test=random(X_train,y_train,X_test)
accrf.append(accurancy)

0.9666666666666667
0.875
0.9833333333333333
0.95
0.9833333333333333

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [76]:
result=selectk_classi(acclog,accnavi,accknn,accdeci,accrf)

In [47]:
result
#6

      logistic      navi       knn decision    random
chi2  0.958333  0.891667  0.933333     0.95  0.983333

In [52]:
result
#5

      logistic      navi       knn  decision    random
chi2  0.941667  0.841667  0.908333  0.958333  0.958333

In [57]:
result
#4

     logistic      navi       knn  decision    random
chi2     0.85  0.791667  0.858333  0.891667  0.908333

In [62]:
result
#7

      logistic      navi       knn  decision    random
chi2  0.966667  0.916667  0.958333  0.966667  0.983333

In [67]:
result
#8

      logistic      navi       knn decision random
chi2  0.966667  0.916667  0.983333     0.95  0.975

In [72]:
result
#3

     logistic      navi       knn  decision random
chi2      0.8  0.783333  0.833333  0.883333   0.85

In [77]:
result
#9

      logistic   navi       knn decision    random
chi2  0.966667  0.875  0.983333     0.95  0.983333