In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv(" .csv")

In [3]:
datas=dataset

In [4]:
datas=pd.get_dummies(datas,drop_first=True)

In [5]:
datas

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
independent=datas.drop('classification_yes',1)

In [7]:
dependent=datas['classification_yes']

In [8]:
def selectkbest(independent,dependent,n):
    test=SelectKBest(score_func=chi2,k=n)
    test2=test.fit(independent,dependent)
    selectfeature=test2.transform(independent)
    return selectfeature

In [9]:
def standscaler(independent,dependent):
    X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.25,random_state=0)
    sc=StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test=sc.transform(X_test)
    return X_train,X_test,y_train,y_test

In [10]:
def r2score(regressor,X_test,y_test):
    y_pred=regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r2=r2_score(y_test,y_pred)
    return r2

In [11]:
def linear(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LinearRegression
        regressor = LinearRegression()
        regressor.fit(X_train, y_train)
        r2=r2score(regressor,X_test,y_test)
        return  r2

In [12]:
def random(X_train,y_train,X_test):
    from sklearn.ensemble import RandomForestRegressor
    RandomForestRegressor(n_estimators = 10, random_state = 0)
    regressor.fit(X_train,y_train)
    r2=r2score(regressor,X_test,y_test)
    return r2

In [13]:
def decision(X_train,y_train,X_test):
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(random_state = 0)
    regressor.fit(X_train,y_train)
    r2=r2score(regressor,X_test,y_test)
    return r2

In [20]:
def select_regression(acclin,accran,accdeci):
    table=pd.DataFrame(index=['chi2score'],columns=['acclin','accran','accdeci'])
    for number,indx in enumerate(table.index):
        table['acclin'][indx]=acclin[number]
        table['accran'][indx]=accran[number]
        table['accdeci'][indx]=accdeci[number]
    return table

In [21]:
kbest=selectkbest(independent,dependent,5)

In [22]:
acclin=[]
accran=[]
accdeci=[]

In [23]:
X_train,X_test,y_train,y_test=standscaler(kbest,independent)
for i in kbest:
    r2_lin=linear(X_train,y_train,X_test)
    acclin.append(r2_lin)
    r2_ran=linear(X_train,y_train,X_test)
    accran.append(r2_ran)
    r2_deci=linear(X_train,y_train,X_test)
    accdeci.append(r2_deci)

In [24]:
result=select_regression(acclin,accran,accdeci)

In [25]:
result

             acclin    accran   accdeci
chi2score  0.285417  0.285417  0.285417